<IfModule mod_rewrite.c>
    RewriteEngine On
    # Route everything except /public/* and favicon.ico to index.php
    RewriteCond %{REQUEST_URI} !^/public/.*$
    RewriteCond %{REQUEST_URI} !^/favicon\.ico$
    RewriteRule ^ index.php
</IfModule>