nav ul {
    list-style: none;
}
nav ul li {
    display: inline;
    padding-left: 0.5em;
    padding-right: 0.5em;
}
nav ul li a {
    text-decoration: none;
}
nav ul li a:hover {
    text-decoration: underline;
}
footer {
    text-align: center;
}